services:
  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION:-main}
    restart: always
    # network_mode: host
    container_name: prometheus
    environment:
      - TZ=Asia/Bangkok
    command: [
      "--config.file=/conf/prometheus.yml",
      "--storage.tsdb.retention.time=90d",
      "--enable-feature=exemplar-storage,native-histograms",
      "--web.listen-address=0.0.0.0:9090",
      "--web.enable-lifecycle",
      "--web.enable-remote-write-receiver"
    ]
    
    volumes:
      - ./conf/prometheus.yml:/conf/prometheus.yml
      - ./prometheus_data:/prometheus
    ports:
      - 9090:9090

# Before start
# mkdir -p prometheus_data
# chown -R 65534:65534 prometheus_data

# reload prometheus config
# docker exec prometheus kill -HUP 1
