global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
        - 127.0.0.1:9090

  - job_name: node-exporter
    static_configs:
      - targets:
        - node-exporter:9100

  - job_name: kong
    static_configs:
      - targets:
        - kong:8001

  - job_name: postgres
    static_configs:
      - targets:
        - kong-database:5432
    metrics_path: /probe
    params:
      auth_module: [kong]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: postgres-exporter:9187  # The postgres exporter's real hostname:port.
